<!doctype html>
<html lang="en" ng-app="todoApp">
	<head>
		<meta charset="utf-8">
		<title>NDev Talk</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-controller="todoCtrl as c">
		<section id="todoapp">
			<header id="header">
				<h1>{{c.title}}</h1>
				<input id="new-todo" placeholder="What needs to be done?" autofocus ng-model="c.newItemString" ng-keyup="c.addItem($event)">
			</header>
			<section id="main">
			<ul id="todo-list">
				<li ng-class="{completed: item.completed}" ng-repeat="item in c.todos | filter:{completed: c.showCompleted}">
					<div class="view">
						<input class="toggle" type="checkbox" ng-model="item.completed">
						<label>{{item.title}}</label>
					</div>
				</li>
			</ul>
			</section>
			<footer id="footer">
				<span id="todo-count"><strong><span id="active-todo-count">{{c.activeCount()}}</span></strong>&nbsp;<span id="active-todo-word">todo<span ng-if="c.activeCount() > 1">s</span></span>&nbsp;left</span>
				<ul id="filters">
					<li>
						<button ng-click="c.showCompleted = ''">All</button>
					</li>
					<li>
						<button ng-click="c.showCompleted = false">Active</button>
					</li>
					<li>
						<button ng-click="c.showCompleted = true">Completed</button>
					</li>
				</ul>
			</footer>
		</section>
		<footer id="info">
			<p>Created by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
			<p>Butchered by Kim Curtis for NDev talk</p>
		</footer>

		<script src="node_modules/jquery/dist/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

<!-- 		<script src="js/app.js"></script> -->
		<script src="js/angularApp.js"></script>
		<script src="js/controller.js"></script>

		<script>
		  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
		  ':35729/livereload.js?snipver=1"></' + 'script>')
		</script>
	</body>
</html>
